service: wow-discord-bot-functions

provider:
  name: aws
  runtime: nodejs4.3
  region: ap-southeast-2
  environment:
      BNET_API_KEY: ${env:BNET_API_KEY}

functions:
  gear:
    handler: commands/gear.handler
    events:
      - http:
          path: commands/gear
          method: get
          integration: lambda
          request:
            parameters:
              querystrings:
                character: true
                realm: false
                region: false
  prog:
    handler: commands/prog.handler
    events:
      - http:
          path: commands/prog
          method: get
          integration: lambda
          request:
            parameters:
              querystrings:
                character: true
                realm: false
                region: false
  loot:
    handler: commands/loot.handler
    events:
      - http:
          path: commands/loot
          method: get
          integration: lambda
  help:
    handler: commands/help.handler
    events:
      - http:
          path: commands/help
          method: get
          integration: lambda
      - http:
          path: commands/commands
          method: get
          integration: lambda

  affixes:
    handler: commands/affixes.handler
    events:
      - http:
          path: commands/affixes
          method: get
          integration: lambda
      - http:
          path: commands/affix
          method: get
          integration: lambda

  talents:
    handler: commands/talents.handler
    events:
      - http:
          path: commands/talents
          method: get
          integration: lambda
          request:
            parameters:
              querystrings:
                character: true
                realm: false
                region: false
      - http:
          path: commands/tals
          method: get
          integration: lambda
          request:
            parameters:
              querystrings:
                character: true
                realm: false
                region: false
