service: wow-discord-bot-functions

provider:
  name: aws
  runtime: nodejs4.3
  region: ap-southeast-2
  environment:
      BNET_API_KEY: ${env:BNET_API_KEY}

functions:
  commands:
    handler: commands/help
    events:
      - http:
          path: commands
          method: get
  gear:
    handler: commands/gear
    events:
      - http:
          path: commands/gear
          method: get
